
     
@media (min-width: 576px){
    .modal-dialog {
        max-width: 1000px !important;
        margin: 1.75rem auto;
    }
}
.modal-dialog .modal-body {

    padding-left: 1px !important;
}

.pading{
    padding-right: 610px !important;

}